{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <ul>
    <li><strong>Name:</strong> {{ user.get_full_name }}</li>
    <li><strong>Email:</strong> {{ user.email }}</li>
    <li><strong>Address:</strong> {{ user.client.address }}</li>
    <li><strong>City:</strong> {{ user.client.city }}</li>
    <li><strong>State:</strong> {{ user.client.state }}</li>
    <li><strong>Zip Code:</strong> {{ user.client.zip_code }}</li>
    <li><strong>Active:</strong> {{ user.client.active }}</li>

  </ul>
{% endblock %}
