{% extends 'base.html' %}

{% block content %}
<h1>Clients</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Active</th>

    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.username }}</td>
      <td>{{ client.get_full_name }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.client.active }}</td>
      <td>{{ client.client.account_balance }}</td>


      <td>
        <a href="{% url 'edit_client' client.pk %}">Edit</a>
        <a href="{% url 'delete_client' client.pk %}">Delete</a>
    </td>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
{% endblock %}
